<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a1813e4a30.js"></script>
    <title>Visit</title>
</head>
<link rel="stylesheet" type="text/css" href="./style.css">

<body>
    <div id="header" class="col-md-12 shadow-sm">
        <div id="event" class="col-md-12">
            <div id="navs" class="row">
                <div class="col-md-6 d-flex justify-content-start">
                    <img id="logo" src="logo.png" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button id="statistics" type="button" class="btn btn-outline-primary"><i
                            class="fas fa-home"></i>&nbsp;Home</button>
                    <!-- <i id="logo" class="text-black fas fa-users"></i> 
                            <span><b id="logoText" class="text-black">Visit</b></span>-->
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <button id="logout" type="button" class="btn btn-light">LogOut</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="width:900px">
        <div id="divChart">
            <center>
                <br>
                <h1>VISITORS EVERY LOCATION PER YEAR</h1>
                <div class="input-group">
                    <select class="custom-select" id="selectedBatch">
                        <!-- <option selected>Choose...</option> -->
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option selected value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button" id="chart1-btn">View Statistics</button>
                    </div>
                </div><br>
                <canvas id="myChart">
                    <p id="failed">Failed to display</p>
                </canvas><br>
                <hr /><br>
                <h1>VISITORS OF A STUDENT PER YEAR</h1>

                <div class="input-group" id="studentInput">
                    <div class="input-group-prepend">
                        <span class="input-group-text">First and Last name</span>
                    </div>
                    <input type="text" class="form-control" id="firstname" placeholder="Firstname">
                    <input type="text" class="form-control" id="lastname" placeholder="Lastname">
                </div>
                <br>
                <button type="button" class="btn btn-outline-primary" id="chart2-btn">View Statistics</button>
                <br>
                <canvas id="myChart2">
                    <p>Failed to display</p>
                </canvas><br>
        </div>
        </center>
    </div>
    </div>
</body>
<br>
<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">VISTORS @ 2019
    </div>
</footer>

</html>
<script src="./chart.js"></script>
<script src="logout.js"></script>
<style>
    canvas {
        /* width: 1000px !important;
        height: 500px !important; */
    }

    body {
        font-family: 'Comfortaa'
    }

    #barChart {
        background-color: black;
        border-radius: 6px;
    }

    /* #divChart {
        background-color: lightblue;
    } */
    footer {
        background: whitesmoke
    }

    hr {
        height: 10px;
        border: 0;
        box-shadow: 0 10px 10px -10px #8c8b8b inset;
    }

</style>