<!DOCTYPE html>
<html lang="en">

<head>
	<title>Login V15</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title">
					<span class="login100-form-title-1">
						ADMIN
					</span>
				</div>

				<div class="login100-form">
					<div class="wrap-input100 validate-input m-b-26">
						<input class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" >
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100"></span>
					</div>

					<div class="flex-sb-m w-full p-b-30">
                        <span>&nbsp;<br>&nbsp;</span>
					</div>

					<div class="container-login100-form-btn">
						<button id="login" class="login100-form-btn">
							Login
						</button>
					</div>
                </div>
			</div>
		</div>
    </div>
    <script src="./scriptTwo.js"></script>
</body>

</html>