<!DOCTYPE html>
<html lang="en">
<head>
	<title>Visit</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
</head>
<link rel="stylesheet" type="text/css" href="./main.css">
<body style="background-color: #666666;">
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form validate-form">
					<span class="login100-form-title p-b-43">
						Admin Account
					</span>
					<br><br>
					<div class="wrap-input100 validate-input">
						<input class="input100" id="username" type="text" placeholder="Username">
					</div>
					<div class="wrap-input100 validate-input">
						<input class="input100" id="password" type="password" placeholder="Password">
					</div>
					<br><br>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="button" id="login">
							<h3>Login</h3>
						</button>
					</div>
				</div>
				<div class="login100-more">
				</div>
			</div>
		</div>
	</div>
	<script src="./scriptTwo.js"></script>
</body>
</html>