<html>

<head>
    <title>Visit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js" integrity="sha256-H9jAz//QLkDOy/nzE9G4aYijQtkLt9FvGmdUTwBk6gs=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a1813e4a30.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <!-- MAPS API -->
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.4.15"></script>
</head>
<link rel="stylesheet" type="text/css" href="./style.css">

<body>
    <div id="header" class="col-md-12 shadow-sm">
        <div id="event" class="col-md-12">
            <div id="navs" class="row">
                <div class="col-md-6 d-flex justify-content-start">
                    <img id="logo" src="logo.png" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="chart.html"><button id="statistics" type="button" class="btn btn-outline-primary"><i class="far fa-chart-bar"></i>&nbsp;Statistics</button></a>
                    <a href="index.html"><button id="home" type="button" class="btn btn-outline-primary"><i
                                    class="fas fa-home"></i>&nbsp;Home</button></a>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <button id="logout" type="button" class="btn btn-light">LogOut</button>
                </div>
            </div>
        </div>
    </div>
    <div id="table" class="container-fluid">
        <div id="card" class="card overflow-auto" style="width:100%;height:500px;">
            <div class="card-body">
                <div class="col-md-12">
                    <div class="row">
                        <table id="vRVisitors" class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Student Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Gender</th>
                                    <th scope="col">Address</th>
                                    <!-- <th id="updateHeader" scope="col">Update</th>
                                    <th id="deleteHeader" scope="col">Delete</th> -->
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="modal fade center hide" id="updateModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>UPDATE INFORMATION</h3>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <p id="VisitorsInfoHeader">Visitor's Information</p>
                    </div>
                    <hr>
                    <div class=col-md-12>
                        <p>Firstname:</p>
                    </div>
                    <div class="col-md-12">
                        <input id="updateFirstName" class="vInfo" type="text" placeholder="First Name">
                    </div>
                    <div class=col-md-12>
                        <p>Lastname:</p>
                    </div>
                    <div class="col-md-12">
                        <input id="updateLastName" class="vInfo" type="text" placeholder="Last Name">
                    </div>
                    <div class=col-md-12>
                        <p>Age:</p>
                    </div>
                    <div class="col-md-12">
                        <input id="updateAge" class="vInfo" type="Number" placeholder="Age">
                    </div>
                    <div class="col-md-12">
                        <p for="sex">Gender:</p>
                    </div>
                    <div class="col-md-12">
                        <select class="vInfo" id="updateSex">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                    </div>
                    <div class=col-md-12>
                        <p>Address:</p>
                    </div>
                    <div class="col-md-12">
                        <input id="updateAddress" class="vInfo" type="text" placeholder="Address">
                    </div>

                </div>
                <div class="modal-footer">
                    <button id="updateSave" type="button" class="btn btn-outline-success">save</button>
                    <button id="updateClose" type="button" class="btn btn-outline-danger" data-dismiss="modal">close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="visitors.js"></script>
    <script src="logout.js"></script>
</body>

</html>